<div class="container">
    <div class="row">
        <h1>Expositions</h1>
        <table class="col-md-12">
            <tr *ngFor="let r of reservationEspaces">
                <td>{{ r.nom }}</td>
                <td>{{ r.dateDebut | date: 'dd/MM/yyyy'}}</td>
                <td>{{ r.dateFin | date: 'dd/MM/yyyy'}}</td>
                <td>{{ r.artiste.prenom }} {{ r.artiste.nom }}</td>
                <td><a routerLink="../exposition/{{r.idReservationEspace}}">Détails</a></td>
                <!--<a routerLink="{{r.idReservationEspace}}">Détails</a></td>-->
            </tr>
        </table>
    </div>
</div>