<div class=" content">
  <div class=" row">
    <!--
    <h4>Id de l'artiste en recherche: {{idArtiste}}</h4>
    <input type="number" class="form-control" [(ngModel)]="idArtiste">
-->


    <div class=" col-md-12" *ngIf="etatListeReservation==true">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Simple Table</h4>
          <button class=" btn btn-fill btn-secondary" (click)="idArtiste=null">refresh</button>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">

                <tr>
                  <th>ID</th>
                  <th>date debut</th>
                  <th>date fin</th>
                  <th>Nom salle</th>
                  <th>Adresse</th>
                  <th>image</th>
                  <th>Action</th>
                </tr>

              </thead>
              <tbody>

                <tr *ngFor="let r of reservationEspaces">
                  <!--(r.artiste.idUtilisateur==idArtiste || idArtiste==null)-->
                  <td *ngIf="r.espaceExposition.idProprio==idProprio">{{r.idReservationEspace}}</td>
                  <td *ngIf="r.espaceExposition.idProprio==idProprio">{{r.dateDebut | date
                    :'shortDate'}}</td>
                  <td *ngIf="r.espaceExposition.idProprio==idProprio">{{r.dateFin | date :'shortDate'}}
                  </td>
                  <td *ngIf="r.espaceExposition.idProprio==idProprio">{{r.espaceExposition.nomSalle}}
                  </td>
                  <td *ngIf="r.espaceExposition.idProprio==idProprio">{{r.espaceExposition.adresse}}
                  </td>
                  <td *ngIf="r.espaceExposition.idProprio==idProprio"><img
                      src="data:image/jpeg;base64,{{r.espaceExposition.imageEspace}}" height="300px" width="300px"
                      alt="">
                  </td>
                  <td *ngIf="r.espaceExposition.idProprio==idProprio">







                    <button class=" btn btn-fill btn-primary" (click)=setIdReservation(r.idReservationEspace)
                      (click)=modifierEtatChoixEvenement()>Evenement</button>
                    <button class=" btn btn-fill btn-danger"
                      (click)="deleteReservationEspace(r.idReservationEspace)">Delete</button>
                  </td>

                </tr>

                <!--
                    <div *ngIf = "r.artiste.idUtilisateur==idArtiste">
                      <td>{{r.idReservationEspace}}</td>
                      <td>{{r.dateDebut | date :'shortDate'}}</td>
                      <td>{{r.dateFin | date :'shortDate'}}</td>
                      <td>{{r.artiste.idUtilisateur}}</td>
                      <td>{{r.espaceExposition.idEspaceExposition}}</td>
                      <td>{{r.proprio.idUtilisateur}}</td>
                      <td>{{r.espaceExposition.nomSalle}}</td>
                      <td>{{r.espaceExposition.adresse}}</td>
                      <td><img src="data:image/jpeg;base64,{{r.espaceExposition.imageEspace}}" height="200px" width="200px" alt=""></td>
                    </div>
                    -->


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="etatChoixEvenement==true">
      <div class="col-sm-3">
        <button class=" btn btn-fill btn-primary" type="submit" (click)="modifieretatListeReservation()">Annuler l'association d'un evenement
          </button>
      </div>
      <h1>associer un evenement</h1>
      <app-evenement [etatAssocierEvenement]=true ></app-evenement>
    </div>


    <!--
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Faire une reservation</h5>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> date début </label>
                  <input class=" form-control" type="date" [(ngModel)]="reservationEspace.dateDebut" name="dateDebut" />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> date fin </label>
                  <input class=" form-control" type="date" [(ngModel)]="reservationEspace.dateFin" name="dateFin" />
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-success" (click)="saveReservationEspace()" type="submit">Save</button>
        </div>
      </div>

    </div>

  </div>
  -->
  </div>
</div>