<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Simple Table</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">

                                <tr>
                                    <th>Nom</th>
                                    <th>Superficie</th>
                                    <th>Adresse</th>
                                    <th>image</th>
                                    <th>Envoyer demande de réservation</th>
                                </tr>

                            </thead>
                            <tbody>

                                <tr *ngFor="let e of espaceExpositions">
                                    <td>{{e.nomSalle}}</td>
                                    <td>{{e.superficie}}</td>
                                    <td>{{e.adresse}}</td>
                                    <td><img src="data:image/jpeg;base64,{{e.imageEspace}}" height="200px" width="200px" alt=""></td>
                                    <td>
                                        <app-formulaire-ajout-reservation [idEspaceExposition]="e.idEspaceExposition"></app-formulaire-ajout-reservation>
                                    </td>

                                </tr>




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>