<!-- nav -->
<!--<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/espaces-home">Espaces d'Expositions</a>
        <a class="nav-item nav-link" routerLink="/"><i class=" tim-icons icon-zoom-split"> </i></a>
    </div>
</nav>-->

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h1> Accueil Espace des Arts </h1>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ea, autem aspernatur recusandae perspiciatis ex commodi repudiandae mollitia distinctio et, eveniet tempore natus quae veniam quia minima iste voluptatum unde.</p>
        </div>
    </div>

    <div>

        <div class="block-card">
            <div class="row justify-content-around">

                <div class=" col-md-5">
                    <div class="card">
                        <h3 class="title">Espaces d'expositions</h3>

                        <div class="contenu">
                            <!--photo-->
                            <img src="../../../assets/img/expo.jpg" />
                            <div class="row justify-content-end">
                                <a routerLink="/espaces-home"><i class=" tim-icons icon-double-right "></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card col-md-5">
                    <h3 class="title">Rechercher une oeuvre</h3>
                    <div class="bar">
                        <div class="contenu">
                            <!--photo-->
                            <img src="../../../assets/img/sculpture.png" />
                            <div class="row justify-content-end">
                                <a><i class=" tim-icons icon-double-right "></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>